<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/JQUERYserailizeJson.js"></script>
    <script src="~/bootstrap-table/bootstrap-table.min.js"></script>
    <script>
        var webUrl = 'https://localhost:44328/';
    </script>
</head>
<body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="~/Home/Index">Öğrenci Bilgi Sistemi</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse dvLayout_Menu">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Home/Index">
                            <span data-feather="home"></span>
                            Öğrenci Bilgi Sistemi <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Course/Index">
                            <span data-feather="file"></span>
                            Kurslar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Departmant/Index">
                            <span data-feather="users"></span>
                            Departmanlar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Faculty/Index">
                            <span data-feather="users"></span>
                            Fakülteler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Instructor/Index">
                            <span data-feather="bar-chart-2"></span>
                            Eğitmenler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="slk" class="nav-link" href="/Student/Index">
                            <span data-feather="layers"></span>
                            Öğrenciler
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="row">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
