

@{
    ViewData["Title"] = "Öğretmen Ekleme Bölümü";
}

<h1>Öğretmen Ekleme Bölümü</h1>


<form id="frmInstructor">
    <div class="row">
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Adınız</label>
                <input id="Name" name="name" type="text" class="form-control" maxlength="50">
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Soyadınız</label>
                <input id="Surname" name="surname" type="text" class="form-control" maxlength="50">
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Yaşınız</label>
                <input id="Age" name="age" type="number" class="form-control" min="0" max="100">
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Doğum Tarihi</label>
                <input id="Birtday" name="birtday" type="date" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Mail</label>
                <input id="Email" name="email" type="email" class="form-control" maxlength="150">
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Telefon Numaranız</label>
                <input id="PhoneNumber" name="phoneNumber" type="number" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Cinsiyet</label>
                <select class="form-control" id="Gender">
                    <option name="gender" value="0">Erkek</option>
                    <option name="gender" value="1">Bayan</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">CV</label>
                <input id="Cv" name="cv" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Kurs</label>
                <select class="form-control" id="CourseId" name="courseId"></select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" id="btnKaydet">Kaydet</button>
</form>
<br />
<br />
<br />
<h2>Öğretmen Adres Bilgileri</h2>
<form id="frmInstructorAddress">
    <div class="row">
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Ülke</label>
                <input id="Country" name="country" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Şehir</label>
                <input id="City" name="city" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Cadde</label>
                <input id="Street" name="street" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Apartman No</label>
                <input id="ApartmentNumber" name="apartmentNumber" type="number" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Daire No</label>
                <input id="HouseNumber" name="houseNumber" type="number" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label class="font-weight-bold">Öğretmen</label>
                <select class="form-control" id="InstructorId" name="instructorId"></select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary" id="btnAdresKaydet">Adres Kaydet</button>
    <button type="button" class="btn btn-outline-success" id="btnGeriDon">Geri Dön</button>
</form>

<script>
    $(document).ready(function () {
        Kurs_Listele(webUrl + 'api/Course/List', 'CourseId');
        Instructor_Listele(webUrl + 'api/Instructor/List', 'InstructorId');
        $('#btnKaydet').click(function () {
            Veri_Ekle(webUrl + 'api/Instructor/Post', 'frmInstructor');
        });
        $('#btnGeriDon').click(function () {
            Gonder('/Instructor/Index');
        });
        $('#btnAdresKaydet').click(function () {
            Veri_Ekle(webUrl + 'api/InstructorAddress/Post', 'frmInstructorAddress');
        })
    });
</script>







